body{
    background-color: #000;
}

/*---------------header----*/

.cover-img{

    background: url("../images/cover-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}