@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');


*{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-color: #000;
    
}

/*---------------header----*/

.icon-format{
    font-size: 25px;
}

 .cover-img{
    background: url("../images/cover-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    text-align: center;
                
            }




.cover-img h1{

    text-align: center;
    padding-top: 75px;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    color: #fafafa;
    letter-spacing: 8px;
    font-size: 64px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo img{
    width: 250px;
    height: 250px;
    text-align: center;
    padding-top: 50px;
    
}

/*-----------Music----------*/

div h2{
    text-align: center;
    padding-top: 50px;
    font-family: 'Exo 2', sans-serif;
    color: #fafafa;
    letter-spacing: 4px;
    font-size: 32px;
    text-transform: uppercase;
}

div h3{
    text-align: center;
    padding-top: 50px;
    font-family: 'Exo 2', sans-serif;
    color: #fafafa;
    letter-spacing: 4px;
    font-size: 28px;  
}

.music-container{

    padding-top: 2em;
}


.ep-container{
    height: 350px;
    width: 75%;
    background: #5C62AA;
    margin: 50px auto;
    border: solid #5C62AA 5px;
    overflow: hidden;

    
}
iframe{
    padding-top: 10px;
    text-align: center;
}

.tour-dates{
    width: 80%;
    margin: 50px auto;
    font-family: 'Exo 2', sans-serif;
    color: #fafafa;
}

.bg-th{
    background-color: #5C62AA;
}
/*----------------Bio-----*/


.bio-card{
    width: 70%;
    font-family: 'Exo 2', sans-serif;
    color: #fafafa;
    
}
#bio{

    padding-bottom: 50px;
}

/*------------Gallery-------*/

.gallery-item{
    padding: 50px 10px;
}

.gallery-container{

    padding-top: 100px;
}

.gallery-container h2{
    font-family: 'Exo 2', sans-serif;
    color: #fafafa; 
    padding: 25px;
    text-align: center; 
}

/*---------Footer-------*/

footer{
    height: 100px;
    width: 100%;
    margin-top: 50px;
    background-color: #343a40;
    font-size: 25px;
}